<!DOCTYPE html>
<html lang="" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link href="https://fonts.googleapis.com/css?family=Delius+Unicase" rel="stylesheet">
</head>

<body>
    <div class="container" ng-controller="HomeController as home">
        <h1 class="text-center">Today's "Honey-Do's"</h1>
        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">What's on the agenda?</h3>
                    </div>
                    <div class="panel-body">
                        <textarea placeholder="Type a task!" ng-model="home.newPost" class="form-control" cols="15" rows="5"></textarea>
                    </div>
                    <div class="panel-footer clearfix">
                        <button class="btn btn-primary pull-right" ng-click="home.addPost()">Add to list</button>
                        <h5>Priority Level</h5>
                        <select ng-model="home.priority">
                            <option value="" selected disabled>Assign Priority Level</option>
                            <option value="1">High</option>
                            <option value="2">Medium</option>
                            <option value="3">Low</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="btn-group" id="buttonGroup" role="group">
                            <button ng-click="home.sort= 'priority'" class="btn btn-primary">⇧ Priority</button>
                            <button ng-click="home.sort= '-priority'" class="btn btn-primary">⬇︎Priority</button>
                            <button ng-click="home.sort= 'text'" class="btn btn-primary">Alphabetical</button>
                        </div>
                    </div>
                    <div class="list-group">
                    
                        <div class="list-group-item" ng-repeat="post in home.posts | orderBy:home.sort" ng-class="
                        {
                            'list-group-item-danger': post.priority==1,
                            'list-group-item-warning': post.priority==2,
                            'list-group-item-success': post.priority==3
                        }
                        ">{{post.text}}
                        </div>
                        <div>
                            <button class="btn btn-primary pull-right">Update</button>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/home/home.controller.js"></script>
</body>

</html>
